<mat-toolbar color="primary">
    <button mat-icon-button (click)="exit()">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Tickets</span>
</mat-toolbar>
<div class="container">
    <ng-container *ngIf="ticket; else loading">
        <h1>{{isCreateMode ? 'Add' : 'Edit' }} Ticket</h1>
        <!-- Ticket Form-->
        <form [formGroup]="ticketForm">
            <input type="hidden">
            <mat-form-field appearance="fill">
                <mat-label>Description *</mat-label>
                <textarea matInput formControlName="description" rows="6"></textarea>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Assignee *</mat-label>
                <mat-select formControlName="assigneeId">
                    <mat-option *ngFor="let user of users" [value]="user.id">
                        {{user.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-checkbox formControlName="completed">Completed</mat-checkbox>
            <button mat-raised-button type="submit" color="primary" 
            (click)="submitForm()" 
            [disabled]="!ticketForm.valid">{{ isCreateMode ? 'Create' : 'Update' }} Ticket</button>
        </form> <!-- end Ticket Form-->
    </ng-container>
    <ng-template #loading>
        Loading ticket detail...
    </ng-template>
</div>